body {
  font-family: Arial;
  background: #e8c0c0;
}

.calculator {
  width: 900px;
  margin: 100px auto;
  background: #e14747;
  padding: 15px;
  border-radius: 15px;
}

#display {
  width: 100%;
  height: 50px;
  font-size: 30px;
  text-align: right;
  margin-bottom: 10px;
  padding-right: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(7, 2fr);
  gap: 10px;
}

button {
  padding: 12px;
  font-size: 16px;
  background: #ddd;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background: #ccc;
}

.equal {
  background: #fdf6c8;
  color: rgb(0, 0, 0);
  grid-column: 6/7;
  
}
.num{
  background:white;
  color: rgb(0, 0, 0);
}